

<div *ngIf="isloading" class="spinner-grow " style="font-size: 5rem;"  role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="!isloading"  class="table">
  <thead class="bg-dark text-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Mobile</th>
      <th scope="col">National Id</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <th scope="row">{{item.ID}}</th>
      <th scope="row">{{item.Name}}</th>
      <th scope="row">{{item.Email}}</th>
      <th scope="row">{{item.Age}}</th>
      <th scope="row">{{item.Mobile}}</th>
      <th scope="row">{{item.NationalID}}</th>
      <td>
        <button class="btn btn-primary" [routerLink]="['/students',item.ID]">Details</button>
        <button class="btn btn-danger" (click)="Delete(item.ID)">Delete</button></td>
    </tr>
  </tbody>
</table>
