<div class="card">
  <div class="card-body">
    <h5 class="card-title">Catergory :</h5>
    <div class="form-floating">
      <select
        class="form-select"
        [(ngModel)]="SelectedCat"
        id="floatingSelect"
      >
        <option
          *ngFor="let item of CategoryList"
          [value]="item.id"
          [selected]="item.id == SelectedCat"
        >
          {{ item.name }}
        </option>
      </select>
      <label for="floatingSelect">Select a Category</label>
    </div>
  </div>
</div>

<app-product-child [SelectedCategory]="SelectedCat" (handellist)="reciveCartItem($event)" (ayhaga)="test($event)"></app-product-child>

<hr>
<h3>Total price : {{totaprice}}</h3>